//* FLEX *//
@mixin flex($wrap:null, $direction:null, $justify:null, $align:null) {
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

//* FONT *//
@mixin font ($size:null, $weight:null, $height:null){
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

// @mixin size ($width:null, $height:null){
//     width: $width;
//     height: $height;
// }

//* FOR DESKTOP *//
@mixin for-desktop(){
    @media (min-width: 992px){
        @content;
    }
}